@model IEnumerable<TechJobs6Persistent.Models.Employer>

<h1>Employers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employer in Model)
        {
            <tr>
                <td>@employer.Name</td>
                <td>@employer.Location</td>
                <td><a asp-action="About" asp-route-id="@employer.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Employer</a>
